@model NovusConsulting.Api.ViewModels.LayoutViewModel
<div class="footer">
    <div class="pull-right">
        @Model.User.Username
    </div>
    <div>
        Novus Consulting <small>© @DateTime.Now.Year</small>
    </div>
</div>
