@{
    ViewData["Title"] = "About";
}

<div class="wrapper wrapper-content animated fadeIn">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="p-xs">
            <div class="pull-left m-r-md">
                <i class="fa fa-home text-navy mid-icon"></i>
            </div>
            <h2>Home / About</h2>
            <span>About</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <p>
                <p>Novus Consulting is an IT consulting company.</p>
                <p>
                    <a href="http://novusconsult.net" target="_blank" class="btn btn-primary btn-lg" role="button">Learn more about Novus Consulting</a>
                </p>
                <div class="text-center">
                    <img src="~/images/architecture.jpg" alt="" height="300" width="300" />
                </div>
                </p>
            </div>
        </div>
    </div>
</div>