@{
    ViewData["Title"] = "Contact";
}

<div class="wrapper wrapper-content animated fadeIn">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="p-xs">
            <div class="pull-left m-r-md">
                <i class="fa fa-home text-navy mid-icon"></i>
            </div>
            <h2>Home / Contact</h2>
            <span>Contact</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <address>
                    <H3>Support:</H3>   <a href="mailto:info@novusconsult.net" class="btn btn-primary btn-lg">Contact us</a><br />

                </address>

            </div>
        </div>
    </div>
</div>